* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;

}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 204, 109) #121212;
}

.logo {
    color: rgb(0, 204, 109);
    font-size: 24px;
    font-weight: bold;
}

nav {
    position: fixed;
    top: 2%;
    left: 10%;
    border-radius: 70px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 20px 5px rgba(0, 204, 109, 0.65);
    padding: 15px;
    z-index: 10000;
}

nav ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav .active {
    color: rgb(0, 204, 109);
}

nav .active::after {
    content: '';
    display: block;
    height: 2px;
    background: rgb(0, 177, 94);
    width: 100%;
}

nav a:hover {
    color: rgb(0, 204, 109);

}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(0, 177, 94);
    transition: width .3s;
}

nav a:hover::after {
    width: 100%;
}

nav .burger-icon {
    position: absolute;
    right: 2%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: none;
}

nav .burger-icon .line1 {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: all 0.5s ease;
    border-radius: 10px;
}

nav .burger-icon .line2 {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: all 0.5s ease;
    border-radius: 10px;
}

nav .burger-icon .line3 {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: all 0.5s ease;
    border-radius: 10px;
}

nav .burger-icon:hover .line2 {
    transform: rotate(360deg);


}

nav .burger-icon:hover .line1,
nav .burger-icon:hover .line3 {
    transform: rotate(-360deg);
    background-color: rgb(0, 204, 109);

}

nav .close-icon {
    position: absolute;
    right: 2%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: none;
    transition: all 0.3s ease;
}


nav .close-icon .line1,
nav .close-icon .line2 {
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 5px;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    transform-origin: center;
    transition: all 0.3s ease;
    border-radius: 20px;
}

nav .close-icon .line1 {
    transform: translateY(-50%) rotate(45deg);
}

nav .close-icon .line2 {
    transform: translateY(-50%) rotate(-45deg);
}

nav .close-icon:hover .line1 {
    transform: scale(1.2);
    transform: rotate(30deg);
    background-color: rgb(0, 204, 109);

}

nav .close-icon:hover .line2 {
    transform: scale(1.2);
    transform: rotate(-30deg);
    background-color: rgb(0, 204, 109);
}



/* end */

.search-box {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-box input {
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    background-color: #2b2b2b;
    color: #ffffff;
}

.search-box i {
    font-size: 20px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.search-box input[type="text"]:focus {
    outline: none;
    border-color: rgb(0, 204, 109);

}

.search-box input[type="text"]::placeholder {
    color: #ffffff;

}

.search-box i:hover {
    color: rgb(0, 204, 109);
}





@media (max-width: 1024px) {
    nav {
        top: 0%;
        left: 0%;
        width: 100%;
        border: none;
        box-shadow: none;
        border-radius: 0px;
    }
}

@media (max-width: 810px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
        box-shadow: none;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        padding: 10px;
        display: none;
        border-radius: 10px;
        background: rgba(18, 18, 18, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    nav li {
        width: 100%;
    }


    nav .active::after {
        width: 0%;
    }

    nav a:hover::after {
        width: 0%;
    }


    nav .burger-icon {
        display: block;
        cursor: pointer;
    }

    nav .close-icon {
        display: none;
        cursor: pointer;
    }

    nav ul.show {
        display: flex;
    }

    .search-box {
        margin-left: 0;
        width: 100%;
        justify-content: flex-start;
    }

    .search-box input[type="text"] {
        width: 95%;
    }
}

@media (max-width: 480px) {
    nav .logo {
        font-size: 20px;
    }

    nav li a {
        font-size: 16px;
    }

    .search-box input[type="text"] {
        width: 90%;
    }
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    position: relative;
    overflow: hidden;
}

header::after {
    content: "";
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #181818, transparent);
    position: absolute;
    width: 100%;
    height: 100px;
}

#matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

header h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: rgb(0, 255, 136);
    text-shadow: 0 0 10px rgb(0, 204, 109), 0 0 20px rgb(0, 204, 109), 0 0 20px rgb(0, 204, 109);
}

header p {
    font-size: 20px;
    color: #cccccc;
}

header .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 204, 109);
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;

}

header .btn:hover {
    color: #ffffff;
    background-color: rgb(0, 177, 94);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sec-nav {
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 9999999999999999;
}

.sec-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    width: 100px;
    height: 100px;
    background-color: rgb(0, 204, 109);
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.3s ease;
}

.sec-nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 204, 109);
}

.sec-nav .active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 204, 109);
}


header {

    text-align: center;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

header h1 {
    font-size: 36px;
    margin-bottom: 40px;
}

header p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #ffffff;
}

header .btn {
    padding: 10px 20px;
    background-color: rgb(0, 204, 109);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

header .btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 204, 109);
    transition: background-color 0.3s ease, color 0.3s ease;
}

header::after {
    content: "";
    bottom: 0;
    background: linear-gradient(to top, #121212, transparent);
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    z-index: 0;
}

.courses {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: auto;
    z-index: 1;

}

.course-card {
    background-color: #1e1e1e;
    border-radius: 20px;
    padding: 20px 25px 50px 25px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.3s ease;
}


.course-card.show {
    opacity: 1;
    transform: translateY(0);
}




.course-card .image {
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px 20px 70px 20px;
    border: 3px solid rgb(0, 204, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
   
}

.course-card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
    transition: transform 0.3s ease, filter 0.3s ease;
}
.course-card .price{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: rgba(123, 123, 123, 0.3);
    border: 2px solid rgb(0, 204, 109);
    
    box-shadow: rgba(0, 204, 109, 0.324) 0px 0px 20px 1px;
    color: rgb(0, 204, 109);
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 22px;
    z-index: 5;
    transition: all 0.3s ease;
} 
.course-card  .price span{
    background-color: rgba(0, 204, 109, 0.691);
    
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 204, 109, 0.324)  0px 0px 20px 1px;
    margin-left: 10px;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: normal;
    font-size: 17px;
    font-weight: bold;
}


.course-card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.course-card:hover .image img {
    filter: brightness(100%);
    transform: scale(1.1);
    
} 
.course-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
    transition: all 0.3s ease;
}

.course-card:hover h2 {
    color: rgb(0, 204, 109);
    text-decoration: underline;
}

.course-card:hover .image img {
    transform: scale(1.1);
    filter: brightness(100%);
}

.course-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
}

.course-card p {
    font-size: 16px;
    color: #cccccc;
    text-align: center;
}

.course-card .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.course-card .btn1,
.course-card .btn2 {

    background-color: rgba(123, 123, 123, 0.3);
    border: 2px solid rgb(0, 204, 109);
    color: rgb(0, 204, 109);
    text-decoration: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: all 0.3s ease;
}

.course-card:hover .btn1 {
    transform: rotate(360deg);
}

.course-card:hover .btn2 {
    transform: rotate(-360deg);
}

.course-card .btn1:hover,
.course-card .btn2:hover {
    box-shadow: rgba(0, 204, 109, 0.4) 0px 0px 10px 5px;
    background-color: rgba(0, 204, 109, 0.3);
    color: #ffffff;
}







.networkCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media (max-width: 5000px) {
    .courses {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        padding: 50px;
    }

    .course-card {
        width: 100%;
    }


    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }
}

@media (max-width: 1124px) {
    .courses {
        grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
        padding: 50px;
    }
}

@media (max-width: 768px) {
    .courses {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .course-card {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .course-card .image {
        margin-bottom: 20px;
    }


    .course-card h3 {
        font-size: 18px;
        margin-top: 20px;
    }

    .course-card img {
        width: 100%;
        height: auto;
    }

    .course-card p {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 20px;
    }


    .sec-nav {
        right: 0%;
        top: 20%;
        gap: 10px;

    }

    .sec-nav a {

        width: 60px;
        height: 60px;
        font-size: 16px;

    }

    header h1 {
        font-size: 22px;
    }

    header p {
        font-size: 14px;
    }

    header .btn {
        font-size: 16px;
        padding: 8px 16px;
    }

}

/* course cards */
.search-box {
    position: relative;
    display: inline-block;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #2b2b2b;
    color: #fff;
    border: 1px solid #00cc6d;
    border-radius: 8px;
    margin-top: 5px;
    display: none;
    z-index: 1000;
}

.search-results div {
    padding: 8px 12px;
    cursor: pointer;
}

.search-results div:hover {
    background-color: #00cc6d;
    color: #000;
}

/* animation */
/* header elements */
header h1,
header p,
header .btn {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
}

header h1.show,
header p.show,
header .btn.show {
    opacity: 1;
    transform: translateY(0);
}

/* sec-nav */
.sec-nav {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1.5s ease-in-out;
}

.sec-nav.show {
    opacity: 1;
    transform: translateY(0);
}


/* end of animation */
/* loading */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999999999999999999999999999999999999999;
  transition: opacity 0.8s ease;
}

.loader-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.sec-loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.sec-loader:before,
.sec-loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}


.sec-loader:before {
  animation: ball1 1s infinite;
  background-color: rgb(0, 204, 109); 
  box-shadow: 30px 0 0 #ffffff;       
  margin-bottom: 10px;
}

.sec-loader:after {
  animation: ball2 1s infinite;
  background-color: #2b2b2b;         
  box-shadow: 30px 0 0 rgb(0, 177, 94); 
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8); }
  50% { transform: rotate(360deg) scale(1.2); }
  100% { transform: rotate(720deg) scale(0.8); }
}

@keyframes ball1 {
  0% { box-shadow: 30px 0 0 #ffffff; }
  50% {
    box-shadow: 0 0 0 #ffffff;
    margin-bottom: 0;
    transform: translate(15px,15px);
  }
  100% { box-shadow: 30px 0 0 #ffffff; margin-bottom: 10px; }
}

@keyframes ball2 {
  0% { box-shadow: 30px 0 0 rgb(0, 177, 94); }
  50% {
    box-shadow: 0 0 0 rgb(0, 177, 94);
    margin-top: -20px;
    transform: translate(15px,15px);
  }
  100% { box-shadow: 30px 0 0 rgb(0, 177, 94); margin-top: 0; }
}
