* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;
    
}

.logo {
    color: rgb(0, 204, 109);
    font-size: 24px;
    font-weight: bold;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(2px);
    padding: 10px;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: absolute;
    margin: 0 auto;
    gap: 25px;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: all 0.3s ease;
}
nav  .active {
    color: rgb(0, 204, 109);
}

nav  .active::after {
     content: '';
    display: block;
    height: 2px;
    background: rgb(0, 177, 94);
    width: 100%;
}
nav a:hover {
    color: rgb(0, 204, 109);

}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(0, 177, 94);
    transition: width .3s;
}

nav a:hover::after {
    width: 100%;
}
.side-bar a {
    text-decoration: none;
    position: fixed;
    top:20%;
    right: 1%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #ffffff;
    background-color: rgb(0, 204, 109);
    border-radius: 50%;
    cursor: pointer;
    z-index: 999999;
}
.side-bar a {
    transition: color 0.3s ease, background-color 0.3s ease;
}
.side-bar a:hover {
    background-color: #ffffff;
    color: rgb(0, 204, 109);
}



.search-box {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    background-color: #2b2b2b;
    color: #ffffff;
}

.search-box i {
    font-size: 20px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.search-box input[type="text"]:focus {
    outline: none;
    border-color: rgb(0, 204, 109);

}

.search-box input[type="text"]::placeholder {
    color: #ffffff;

}

.search-box i:hover {
    color: rgb(0, 204, 109);
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        margin: 10px 0;
        gap: 10px;
    }

    .search-box {
        margin-left: 0;
        width: 100%;
        justify-content: flex-start;
    }

    .search-box input[type="text"] {
        width: 80%;
    }
}

@media (max-width: 480px) {
    nav .logo {
        font-size: 20px;
    }

    nav li a {
        font-size: 16px;
    }

    .search-box input[type="text"] {
        width: 100%;
    }
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    position: relative;
    overflow: hidden;
}
header::after {
    content: "";
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #181818, transparent);
    position: absolute;
    width: 100%;
    height: 100px;
}

#matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

header h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: rgb(0, 204, 109);
}

header p {
    font-size: 20px;
    color: #cccccc;
}

header .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 204, 109);
    color: #121212;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

header .btn:hover {
    color: #ffffff;
    background-color: rgb(0, 177, 94);
}
.features::after {
    content: "";
    bottom: 0;
    background: linear-gradient(to top, #121212, transparent);
    position: absolute;
    width: 100%;
    height: 100px;
}

.features {
    padding: 50px 20px;
    background-color: #181818;
    text-align: center;
    height: 80vh;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    position: relative;
    overflow: hidden;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(0, 204, 109);

}

.features p {
    font-size: 18px;
    color: #cccccc;
    max-width: 800px;
    margin: 0 auto 30px auto;
    line-height: 1.6;

}

.features .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 204, 109);
    color: #121212;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;

}

.btn:hover {
    background-color: rgb(0, 177, 94);

}

.features .feature {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.features .feature h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: rgb(0, 204, 109);

}

.features .feature p {
    font-size: 16px;
    color: #cccccc;
    line-height: 1.5;

}

.features .feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.testimonials {
    padding: 50px 20px;
    background-color: #121212;
    text-align: center;
    height: 80vh;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    position: relative;
    overflow: hidden;
}
.testimonials::after {
    content: "";
    bottom: 0;
    background: linear-gradient(to top, #181818, transparent);
    position: absolute;
    width: 100%;
    height: 100px;
}
.testimonials h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(0, 204, 109);

}

.testimonials p {
    font-size: 18px;
    color: #cccccc;
    max-width: 800px;
    margin: 0 auto 30px auto;
    line-height: 1.6;

}

.testimonials .testimonial {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    width: 450px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.testimonials .testimonial p {
    font-size: 16px;
    color: #cccccc;
    line-height: 1.5;

}

.testimonials .testimonial:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.newsletter {
    padding: 50px 20px;
    background-color: #181818;
    text-align: center;
    height: 50vh;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    position: relative;
    overflow: hidden;
}

.newsletter h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(0, 204, 109);

}

.newsletter p {
    font-size: 18px;
    color: #cccccc;
    max-width: 800px;
    margin: 0 auto 30px auto;
    line-height: 1.6;

}

.newsletter .newsletter {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.newsletter .newsletter p {
    font-size: 16px;
    color: #cccccc;
    line-height: 1.5;

}

.newsletter .newsletter:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.newsletter input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    width: 250px;
}

.newsletter input[type="email"]:focus {
    outline: none;
    border: 2px solid rgb(0, 204, 109);
}

.newsletter .btn {
    width: 100px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(0, 204, 109);
    color: #121212;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;

}
.newsletter .btn:hover {
    color: #ffffff;
    background-color: rgb(0, 177, 94);
}
.newsletter::after {
    content: "";
    bottom: 0;
    background: linear-gradient(to top, #1e1e1e, transparent);
    position: absolute;
    width: 100%;
    height: 100px;
}

footer {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
    color: #777;
    width: 100%;
}

footer p {
    margin: 5px 0;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a i {
    color: #ffffff;
    margin: 0 10px;
    font-size: 25px;
    transition: color 0.3s ease;
}

footer .social-icons a i:hover {
    color: rgb(0, 204, 109);
}

@media (max-width: 1024px){
       .newsletter::after{
        height: 50px;
    }
}
@media (max-width: 768px) {

    .features,
    .testimonials {
        padding: 40px 20px;
        height: auto;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .features .feature {
        margin-bottom: 30px;
        width: 300px;
    }

    .testimonials .testimonial {
        margin-bottom: 30px;
        width: 290px;
    }

    .newsletter {
        padding: 40px 20px;
        height: auto;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .newsletter .update {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .newsletter input[type="email"] {
        width: 80%;
        margin-bottom: 10px;
    }

    .newsletter input[type="submit"] {
        width: 50%;
    }

    /* --- Footer --- */
    footer {
        padding: 20px 10px;
        text-align: center;
    }

    footer .social-icons a i {
        font-size: 22px;
        margin: 0 8px;
    }
       .newsletter::after{
        height: 20px;
    }
}


@media (max-width: 480px) {

    .newsletter h2 {
        font-size: 26px;
    }

    .newsletter p {
        font-size: 16px;
    }

    .newsletter input[type="email"] {
        width: 100%;
    }

    .newsletter input[type="submit"] {
        width: 100%;
    }

    footer .social-icons a i {
        font-size: 20px;
        margin: 0 6px;
    }

    footer p {
        font-size: 14px;
    }
    .newsletter::after{
        height: 30px;
    }
  
}
header h1,
header p,
header .btn {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1s ease-out;
}


header h1.show,
header p.show,
header .btn.show {
  opacity: 1;
  transform: translateY(0);
    
}

.feature {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1S ease-in-out;
}

.feature.show {
  opacity: 1;
  transform: translateX(0);
}
.testimonial {
  opacity: 0;
  transform: translateX(100%);
  transition: all 2s ease-in-out;
}

.testimonial.show {
  opacity: 1;
  transform: translateX(0);
}
.side-bar a {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1.5s ease-in-out;
}

.side-bar a.show {
  opacity: 1;
  transform: translateY(0);
}
.newsletter p,
.newsletter input,
.newsletter .btn {
  opacity: 0;
  transform: translateX(100%); 
  transition: all 1s ease-in-out;
}

.newsletter p.show,
.newsletter input.show,
.newsletter .btn.show {
  opacity: 1;
  transform: translateX(0);
}