* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #1e1e1e;
    color: #ffffff;
    overflow: hidden;
    height: 100vh;
}

.logo {
    color: rgb(0, 204, 109);
    font-size: 24px;
    font-weight: bold;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(2px);
    padding: 10px;
    z-index: 999999999;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: absolute;
    margin: 0 auto;
    gap: 25px;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: all 0.3s ease;
}
nav  .active {
    color: rgb(0, 204, 109);
}

nav  .active::after {
     content: '';
    display: block;
    height: 2px;
    background: rgb(0, 177, 94);
    width: 100%;
}
nav a:hover {
    color: rgb(0, 204, 109);

}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(0, 177, 94);
    transition: width .3s;
}

nav a:hover::after {
    width: 100%;
}


#matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.search-box {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    background-color: #2b2b2b;
    color: #ffffff;
}

.search-box i {
    font-size: 20px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.search-box input[type="text"]:focus {
    outline: none;
    border-color: rgb(0, 204, 109);

}

.search-box input[type="text"]::placeholder {
    color: #ffffff;

}

.search-box i:hover {
    color: rgb(0, 204, 109);
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        margin: 10px 0;
        gap: 10px;
    }

    .search-box {
        margin-left: 0;
        width: 100%;
        justify-content: flex-start;
    }

    .search-box input[type="text"] {
        width: 80%;
    }
}

@media (max-width: 480px) {
    nav .logo {
        font-size: 20px;
    }

    nav li a {
        font-size: 16px;
    }

    .search-box input[type="text"] {
        width: 100%;
    }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    color: white;
    background-color: rgba(33, 33, 33, 0.738);
    border-radius: 10px;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.725);
    padding: 30px 40px;
    font-family: "poppins", sans-serif;
    text-align: center;
    position: relative;
}

.container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: rgb(0, 204, 109);
}

.container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.container .login {
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    background-color: rgb(0, 204, 109);
    color: #121212;
    text-decoration: none;
    border-radius: 40px;
    font-size: 18px;
    margin-top: 20px;
    border: 2px solid rgba(255, 255, 255, 0.699);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.container .input-box {
    position: relative;
}



.container i {
    position: absolute;
    right: 20px;
    top: 30%;
    font-size: 20px;
    transform: translate(-50%);
    color: #fff;
    font-family: "poppins", sans-serif;
}

.container .login:hover {
    color: #ffffff;
    background-color: rgb(0, 177, 94);
}

.container .sign-up {
    display: inline-block;
    padding: 5px 20px;
    background-color: rgb(0, 204, 109);
    border: 2px solid rgba(255, 255, 255, 0.699);
    color: #121212;
    text-decoration: none;
    border-radius: 40px;
    font-size: 18px;
    margin-top: 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.container .sign-up:hover {
    color: #ffffff;
    background-color: rgb(0, 177, 94);
}

.container form .input-box input {
    width: 100%;
    margin-bottom: 20px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.61);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    font-family: "poppins", sans-serif;
}


.container form input::placeholder {
    color: rgba(255, 255, 255, 0.474);
}

.container form input:focus {
    border: 2px solid rgb(0, 204, 109);
}


@media (max-width: 1024px) {
  .container {
    width: 350px;
    padding: 25px 30px;
  }

  .container h1 {
    font-size: 30px;
  }

  .container .login,
  .container .sign-up {
    font-size: 16px;
  }
}

@media (max-width: 768px) {


  .container {
    width: 90%;
    padding: 20px;
    margin-top: 100px;
  }

  .container h1 {
    font-size: 28px;
  }

  .container form input {
    font-size: 14px;
    
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  .container h1 {
    font-size: 24px;
  }

  .container form input {
    font-size: 14px;
    padding: 12px 35px 12px 12px;
  }

  .container .login,
  .container .sign-up {
    font-size: 14px;
    padding: 8px 15px;
  }
  .email i{
     right: 18%;
    top: 27%;
  }
  .password i{
    right: 100%;
  }
}
/* animation */
.login-container .container {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1.5s ease-in-out;
}

.login-container .container.show {
  opacity: 1;
  transform: translateY(0);
}