* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #000000;
    color: #ffffff;
    overflow: hidden;
    height: 100vh;
}

.logo {
    color: rgb(0, 204, 109);
    font-size: 24px;
    font-weight: bold;
}

nav {
    position: fixed;
    top: 2%;
    left: 10%;
    border-radius: 70px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 20px 5px rgba(0, 204, 109, 0.65);
    padding: 15px;
    z-index: 999999999;
}

nav ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav .active {
    color: rgb(0, 204, 109);
}

nav .active::after {
    content: '';
    display: block;
    height: 2px;
    background: rgb(0, 177, 94);
    width: 100%;
}

nav a:hover {
    color: rgb(0, 204, 109);

}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(0, 177, 94);
    transition: width .3s;
}

nav a:hover::after {
    width: 100%;
}

nav .burger-icon {
    position: absolute;
    right: 2%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: none;
}

nav .burger-icon .line1 {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: all 0.5s ease;
    border-radius: 10px;
}

nav .burger-icon .line2 {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: all 0.5s ease;
    border-radius: 10px;
}

nav .burger-icon .line3 {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: all 0.5s ease;
    border-radius: 10px;
}

nav .burger-icon:hover .line2 {
    transform: rotate(360deg);


}

nav .burger-icon:hover .line1,
nav .burger-icon:hover .line3 {
    transform: rotate(-360deg);
    background-color: rgb(0, 204, 109);

}

nav .close-icon {
    position: absolute;
    right: 2%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: none;
    transition: all 0.3s ease;
}


nav .close-icon .line1,
nav .close-icon .line2 {
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 5px;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    transform-origin: center;
    transition: all 0.3s ease;
    border-radius: 20px;
}

nav .close-icon .line1 {
    transform: translateY(-50%) rotate(45deg);
}

nav .close-icon .line2 {
    transform: translateY(-50%) rotate(-45deg);
}

nav .close-icon:hover .line1 {
    transform: scale(1.2);
    transform: rotate(30deg);
    background-color: rgb(0, 204, 109);

}

nav .close-icon:hover .line2 {
    transform: scale(1.2);
    transform: rotate(-30deg);
    background-color: rgb(0, 204, 109);
}


#matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.search-box {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-box input {
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    background-color: #2b2b2b;
    color: #ffffff;
}

.search-box i {
    font-size: 20px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.search-box input[type="text"]:focus {
    outline: none;
    border-color: rgb(0, 204, 109);

}

.search-box input[type="text"]::placeholder {
    color: #ffffff;

}

.search-box i:hover {
    color: rgb(0, 204, 109);
}

@media (max-width: 1024px) {
    nav {
        top: 0%;
        left: 0%;
        width: 100%;
        border: none;
        border-radius: 0px;
        box-shadow: none;
    }
}

@media (max-width: 810px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        padding: 10px;
        display: none;
        border-radius: 10px;
        background: rgba(18, 18, 18, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    nav li {
        width: 100%;
    }


    nav .active::after {
        width: 0%;
    }

    nav a:hover::after {
        width: 0%;
    }


    nav .burger-icon {
        display: block;
        cursor: pointer;
    }

    nav .close-icon {
        display: none;
        cursor: pointer;
    }

    nav ul.show {
        display: flex;
    }

    .search-box {
        margin-left: 0;
        width: 100%;
        justify-content: flex-start;
    }

    .search-box input[type="text"] {
        width: 95%;
    }
}

@media (max-width: 480px) {
    nav .logo {
        font-size: 20px;
    }

    nav li a {
        font-size: 16px;
    }

    .search-box input[type="text"] {
        width: 95%;
    }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    color: white;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    border: 5px solid rgb(0, 204, 109);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px 40px;
    font-family: "poppins", sans-serif;
    text-align: center;
    position: relative;
}

.container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: rgb(0, 204, 109);
    text-shadow: 0 0 20px rgb(3, 255, 137);
    font-family: "poppins", sans-serif;
}

.container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.container .login {
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    background-color: rgb(0, 204, 109);
    color: #121212;
    text-decoration: none;
    border-radius: 40px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.699);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.container .input-box {
    position: relative;
}



.container i {
    position: absolute;
    right: 20px;
    top: 30%;
    font-size: 20px;
    transform: translate(-50%);
    color: #fff;
    font-family: "poppins", sans-serif;
}

.container .login:hover {
    color: #ffffff;
    background-color: rgb(0, 177, 94);
}

.container .sign-up {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    color: rgb(0, 177, 94);
    text-decoration: none;

}



.container form .input-box input {
    width: 100%;
    margin-bottom: 20px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.61);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    font-family: "poppins", sans-serif;
}


.container form input::placeholder {
    color: rgba(255, 255, 255, 0.474);
}

.container form input:focus {
    border: 2px solid rgb(0, 204, 109);
}


@media (max-width: 1024px) {
    .container {
        width: 350px;
        padding: 25px 30px;
    }

    .container h1 {
        font-size: 30px;
    }

    .container .login,
    .container .sign-up {
        font-size: 16px;
    }
}

@media (max-width: 768px) {


    .container {
        width: 90%;
        padding: 20px;
        margin-top: 100px;
    }

    .container h1 {
        font-size: 28px;
    }

    .container form input {
        font-size: 14px;

    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    .container h1 {
        font-size: 24px;
    }

    .container form input {
        font-size: 14px;
        padding: 12px 35px 12px 12px;
    }

    .container .login,
    .container .sign-up {
        font-size: 14px;
        padding: 8px 15px;
    }

    .email i {
        right: 18%;
        top: 27%;
    }

    .password i {
        right: 100%;
    }
}

/* animation */
.login-container .container {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1.5s ease-in-out;
}

.login-container .container.show {
    opacity: 1;
    transform: translateY(0);
}
/* loading */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999999999999999;
  transition: opacity 0.8s ease;
}

.loader-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.sec-loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.sec-loader:before,
.sec-loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}


.sec-loader:before {
  animation: ball1 1s infinite;
  background-color: rgb(0, 204, 109); 
  box-shadow: 30px 0 0 #ffffff;       
  margin-bottom: 10px;
}

/* الكرة الثانية */
.sec-loader:after {
  animation: ball2 1s infinite;
  background-color: #2b2b2b;         
  box-shadow: 30px 0 0 rgb(0, 177, 94); 
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8); }
  50% { transform: rotate(360deg) scale(1.2); }
  100% { transform: rotate(720deg) scale(0.8); }
}

@keyframes ball1 {
  0% { box-shadow: 30px 0 0 #ffffff; }
  50% {
    box-shadow: 0 0 0 #ffffff;
    margin-bottom: 0;
    transform: translate(15px,15px);
  }
  100% { box-shadow: 30px 0 0 #ffffff; margin-bottom: 10px; }
}

@keyframes ball2 {
  0% { box-shadow: 30px 0 0 rgb(0, 177, 94); }
  50% {
    box-shadow: 0 0 0 rgb(0, 177, 94);
    margin-top: -20px;
    transform: translate(15px,15px);
  }
  100% { box-shadow: 30px 0 0 rgb(0, 177, 94); margin-top: 0; }
}
