body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.pay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 159, 85);
}
.pay-container{
    background-color: rgb(34, 34, 34);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    color: white;
    text-align: center;
    width: 400px;

}

.pay h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: rgb(0, 204, 109);
}

.pay p {
    font-size: 18px;
    margin-bottom: 20px;
}

.pay .btn {
    display: inline-block;
    padding: 12px 0px;
    background-color: rgb(0, 159, 85);
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    font-size: 16px;
    width: 85%;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 10px;
}

.pay .btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 204, 109);
}
.pay input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
    margin-bottom: 10px;
}
.pay label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}
.pay input:focus {
    border: 2px solid rgb(0, 204, 109);
    outline: none;
}

